<h1><%= @dodyll.title %></h1>

<p>
  <% if @dodyll.description.present? %>
  <strong>Description: </strong> <%= @dodyll.description %><br />
  <% end %>
  <% if @dodyll.location.present? %>
    <strong>Location:</strong> <%= @dodyll.location %><br />
  <% end %>
  <table>
  <tr> <th>User</th>
  <% @dodyll.start.upto(@dodyll.end) do |date| %>
  <th> <%= date %> </th>
  <% end %>
  </tr>

  <tr> <td>
    <% if user_signed_in? %>
      <%= current_user.name %>
    <% else %>
      Anon
    <% end %>
    </td>
    <% @dodyll.start.upto(@dodyll.end) do |date| %>
      <td> Checkbox </td>
    <% end %>
  </tr>
  </table>
</p>

  <%= link_to 'Back', dodylls_path %>