<h1><%= @user.name %> </h1>

<div class="row">
  <div class="col-md-6">
    <%= image_tag @user.avatar.url if @user.avatar? %>
  </div>

  <p>
    <%= @user.aboutme if @user.aboutme? %>
  </p>
</div>

<% if @user == current_user %>
  <div class="col-md-9">
    <h2><%= t ".my_events" %></h2>
    <%= render @user.events %>
  </div>
<% end %>

      <div class="col-md-9">
        <% if @user == current_user %>
          <h2><%= t ".joined_events" %></h2>
        <% elsif @user.name? %>
          <h2><%=t ".events_of" %> <%= @user.name %></h2>


      <% else %>
          <h2><%= t ".Events_theyve_joined" %></h2>
        <% end %>


  <table class = "table">

      <tr>
        <th><%= t "events.event.title"%></th>
        <th><%= t "events.event.date" %></th>
        <th></th>
      </tr>

    <% @userevents = AttendingEvent.where(:user => @user) %>
    <% @userevents.each do |e| %>

      <tr>
        <div class="row">
          <div class="col-md-9">


            <td><%= link_to e.event.title, event_path(e.event), :class => 'navbar-link' %></td>
            <td>(<%= e.event.date %>)</td>

            <td>
              <% if @user == current_user %>
                <%=  button_to(t(".leave"), user_attending_event_path(current_user, e),
                               method: :delete,
                               data: { confirm: 'Are you sure' }) %>
              <% end %>
            </td>
          </div>
        </div>
      </tr>

    <% end %>
  </table>




  <div class="col-md-9">
    <h4><%=  link_to(t(".create_Event_href"), new_event_path, :class => 'navbar-link') %></h4>

  </div>

  <% if @user == current_user %>
      <%=  link_to(t(".edit_profile_href"), edit_user_registration_path, :class => 'navbar-link') %> |

  <% end %>
<%=  link_to(t(".back_href"), users_path, :class => 'navbar-link') %>