<h1>Attendion</h1>

<div>
<%= t ".welcome_to_attendion" %>

<% if user_signed_in? %>
    <% if current_user.name.present?%>
      <%= t ".how_are_you" %>     <%= ', '+ current_user.name %>?
    <% else %>
      To make it easier for everyone, why don't you start and add your name to your profile?
    <% end %>
  <% end %>
</div>




<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
