<div class="row">
<div class="col-md-4">
  <strong>Title:</strong>
  <%= event.title %>
</div>

<div class="col-md-4">
  <strong>Date:</strong>
  <%= event.date %>
</div>

<div class="col-md-4">
  <strong>Time:</strong>
  <%= event.time %>
</div>

<div class="col-md-4">
  <strong>Location:</strong>
  <%= event.location %>
</div>

<div class="col-md-4">
  <strong>URL:</strong>
  <%= event.url %>
</div></div>
<div class="row">
<div class="col-md-4">
  <strong>Description:</strong>
  <%= event.description %>
</div></div>

<p>
  <%= link_to 'Destroy Event', [event.user, event],
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'navbar-link' %>
</p>