<%= form_with(model: [ @user, @user.events.build ], local: true) do |f| %>
  <div class="form-group">
  <div class="col-md-8">
    <%= f.label :title %>
    <div class="col-md-8">
    <%= f.text_field :title %>
    </div>
  </div>
  <div class="col-md-8">
    <%= f.label :date %>
    <div class="col-md-8">
    <%= f.date_field :date %>
    </div>
  </div>
  <div class="col-md-8">
    <%= f.label :time %>
    <div class="col-md-8">
    <%= f.time_select :time %>
    </div>
  </div>
  <div class="col-md-8">
    <%= f.label :location %>
    <div class="col-md-8">
    <%= f.text_field :location %>
    </div>
  </div>
  <div class="col-md-8">
    <%= f.label :url %>
    <div class="col-md-8">
    <%= f.text_field :url %>
    </div>
  </div>
  <div class="col-md-8">
    <%= f.label :description %>
    <div class="col-md-8">
    <%= f.text_area :description %>
    </div>
  </div>
    <div class="col-md-8">
      <p></p>
    <div class="col-md-8">
    <%= f.submit %>
    </div></div>
  </div>
<% end %>