<div class="pull-right"><h3><%= link_to 'Create new Event', new_event_path, :class => 'navbar-link' %></h3></div>

<h1>All events</h1>

<p></p>

    <table class="table" width="100%">
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Where</th>
        <th>Admin</th>
        <th></th>
      </tr>

      <% Event.all.each do |e| %>

      <tr>
        <td><%= e.title %></td>
        <td><%= e.date %></td>
        <td><%= e.try(:time).try(:strftime, '%H:%M') %></td>
        <td><%= e.location %></td>
        <td><%= e.user.name %></td>
        <td><%= button_to "join event", join_event_path(e), method: :get %></td>
      </tr>


      <% end %>
    </table>