<div class="pull-right"><h3>
  <%=  link_to(t("users.show.create_Event_href"), new_event_path , :class => 'navbar-link' )%>
</h3></div>

<h1><%= t "events.event.all_events" %></h1>

<p></p>

    <table class="table">
      <tr>
        <th><%= t "events.event.title" %></th>
        <th><%= t "events.event.date" %></th>
        <th></th>
      </tr>

      <% Event.all.each do |e| %>

      <tr>
        <td><%= link_to e.title, event_path(e), :class => 'navbar-link' %></td>
        <td><%= e.date %></td>
        <td>
          <%=  button_to(t(".join_href"), join_event_path(e), method: :get) %>
        </td>
      </tr>


      <% end %>
    </table>